.question-block {
    display: flex;
    padding: 10px;
    margin-bottom: 25px;
}

.question-block .flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 100%;
}

.flex-container li:last-child {
    padding-top: 3px;
    border-top: 1px solid #555;
}

@media (max-width: 570px) {
    .question-block {
        flex-direction: column;
    }

    .question-block .flex-container {
        margin-left: 0;
        width: auto;
    }
}
