.rhap_container {
    background-color: #444;
}

.rhap_progress-bar.rhap_progress-bar-show-download {
    height: 4px;
}

.rhap_main-controls .rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button:focus{
    outline: none;
}

.rhap_progress-indicator {
    height: 16px;
    width: 16px;
    top: -7px;
}

.rhap_progress-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "bar bar"
        "time-cur time-dur";
}

.rhap_progress-container .rhap_progress-bar .rhap_progress-filled {
    background-color: #3498DB;
}

.rhap_time.rhap_current-time {
    margin: 0 calc(12px + 1%);
    grid-area: time-cur;
    font-size: 11px;
    color: #dddddd;
}

.rhap_time.rhap_total-time {
    margin: 0 calc(12px + 1%);
    grid-area: time-dur;
    justify-self: end;
    font-size: 11px;
    color: #dddddd;
}

.rhap_progress-container {
    grid-area: bar;
}

.rhap_additional-controls {
    display: none;
}

.rhap_button-clear.rhap_volume-button path {
    fill: #3498DB;
}

.rhap_button-clear.rhap_volume-button:focus {
    outline: none;
}

.rhap_controls-section {
    position: relative;
}

.rhap_volume-controls {
    position: absolute;
    width: 100px;
}
